.btn {
    &--primary {
        border-radius: 9999px;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;

        @include link {
            background-color: $color-yellow;
            color: $color-black;
        }

        @include hover {
            background-color: darken($color-yellow, 10);
            color: $color-black;
        }
    }

    &--autos {
        @include link {
            color: $color-yellow;
            background-color: lighten($color-black, 15%);
            padding: .25rem 1rem;
            font-size: 16px;
            border-radius: 15px;
            text-decoration: none;
            font-weight: 500;
        }
        @include hover{
            background-color: $color-black;
        }        
    }
}