//colors
$color-yellow: #ffa400;
$color-gray: #1a1a1a;
$color-white: #ffffff;
$color-black: #000000;

.color-yellow {
    color: $color-yellow;
}
.color-gray {
    color: $color-gray;
}
.color-white {
    color: $color-white;
}
.color-black {
    color: $color-black;
}