@import '../styles/Styles.scss';

.about {
    background-color: black;
    &__container {
        display: flex;
    }

    &__col {
        width: 50%;
        padding: 2rem 0;
    }

    p {
        color: $color-yellow;
    }
}