.about {
    background-color: black;
    padding: 2rem 0;
    &__container {
        display: flex;
    }

    &__col {
        width: 50%;
        padding: 2rem 0;
    }

    &__text--title {
        color: $color-yellow;
    }

    &__text--lead {
        color: $color-white;
    }
}