.banner {
    padding: 8rem 0;
    color: $color-white;

    &--bgimg {
        @include bgimg;
    }

    &__content {
        max-width: 400px;
    }

    hr {
        border: 0;
        border-top: 1px solid $color-yellow;
        opacity: 1;
    }
}