.footer {
    padding: 3rem 0 0;
    background-color: $color-black;
    color: $color-white;
    &__content {
        margin-bottom: 1rem;
    }

    &__logo {
        width: 150px;
        margin-bottom: 1rem;
    }

    &__grid {
        @include reset-list;
        display: flex;
        flex-wrap: wrap;
    }

    &__col {
        width: 100%;
        text-align: center;
        margin-bottom: 2.5rem;

        @include media('md') {
            width: (100%/3);
            &:nth-child(1) {
                text-align: left;;
            }
            &:nth-child(2) {
                text-align: center;
            }
            &:nth-child(3) {
                text-align: right;
            }
        }
    }

    &__list {
        @include reset-list;
        &__item {
            margin-bottom: 0;
            a {
                @include link {
                    color: $color-white;
                    text-decoration: none;
                }
                @include hover {
                    color: darken($color-white, 20);
                }
            }
        }
    }

    &__socialmedia {
        @include reset-list;
        display: flex;
        justify-content: center;
        &__item {
            margin-right: 1rem;
            &:last-child {
                margin-right: 0;
            }
        }
        &__iconlink {
            @include link {
                color: $color-white;
                background-color: $color-yellow;
                display: block;
                padding: 0.375rem;
                border-radius: 50%;
            }
            @include hover {
                background-color: darken($color-yellow, 15);
            }
        }
    }

    &__bottom {
        background-color: $color-yellow;
        padding: 0.5rem;
        text-align: center;
        p {
            margin: 0;
            letter-spacing: .075rem;
            font-size: .75rem;
            color: $color-black;
            font-weight: 500;
        }
    }
}